.App {
    padding: 20px;
    background-color: #efefef;
}

.colorPickers {
    margin-top: 10px;
}

.colorPicker {
    display: block;
}

.colorPicker__button {
    margin-left: 10px;
    padding: 6px 12px;
    background: #efefef;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: #030303;
}

.colorPicker__button:focus {
    outline: 0;
}

.colorPicker__button:hover {
    transition: 300ms;
    background: #e0e0e0;
}

.colorPicker__button:active {
    transition: 0s;
    background: #ffee00;
}

.colorPicker__colorInput {
    margin-left: 10px;
}

.codePreview {
    border: 3px solid black;
    border-radius: 6px;
    background-color: #414141;
    color: #efefef;
    padding: 5px;
    font-family: 'Lucida Sans', monospace;
}

.colorableAsset {
    width: 100px;
    height: 100px;
    display: inline-block;
}