* {
    box-sizing: border-box;
}

.App {
    padding: 20px;
    background-color: #efefef;
}

.title {
    margin: 10px auto;
    display: inline-block;
}

.colorPickers {
    margin-top: 10px;
    display: inline-block;
    height: 100%;
}

.colorPicker {
    display: block;
}

.colorPicker__button {
    margin-left: 10px;
    padding: 6px 12px;
    background: #efefef;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: #030303;
}

.colorPicker__button:focus {
    outline: 0;
}

.colorPicker__button:hover {
    transition: 300ms;
    background: #e0e0e0;
}

.colorPicker__button:active {
    transition: 0s;
    background: #ffee00;
}

.colorPicker__colorInput {
    margin-left: 10px;
}

.codePreview {
    display: inline-block;
    border: 3px solid black;
    border-radius: 6px;
    background-color: #414141;
    color: #efefef;
    padding: 5px;
    font-family: 'Lucida Sans', monospace;
    width: 100%;
}

.sideBar {
    background-color: #bebebe;
    width: 10%;
    display: inline-block;
    padding: 6px;
}

/* Window Preview */

.windowPreview {
    display: inline-block;
    width: 1408px;
    height: 792px;
    background-color: #030303;
    border: 2px solid black;
}

.activityBar {
    /* background-color: #ffee00; */
    width: 6%;
    height: 100%;
    display: inline-block;
}

.editor {
    /* background-color: #3cc7cc; */
    width: 94%;
    display: inline-block;
    height: 100%;
}