.App {
    text-align: center;
    padding: 20px;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.colorPickers {
    margin-top: 10px;
}

.colorPicker {
    display: block;
}

.colorPicker__button {
    margin-left: 10px;
    padding: 6px 12px;
    background: #efefef;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    text-decoration: none;
    color: #030303;
}

.colorPicker__button:focus {
    outline: 0;
}

.colorPicker__button:hover {
    transition: 300ms;
    background: #e0e0e0;
}

.colorPicker__button:active {
    transition: 0s;
    background: #ffee00;
}

.colorPicker__colorInput {
    margin-left: 10px;
}