.container {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.input {
  border-radius: 3px;
  font-family: 'Comfortaa', cursive;
  padding: 2px;
  text-align: center;
  font-size: 14pt;
  background-color: #fdfdfd;
  color: #0e0e0e;
}
.defaultText {
  color: #fdfdfd;
  font-size: 70%;
  padding-left: 10px;
  padding-top: 1%;
  display: inline-block;
  font-family: 'Helvetica';
  user-select: none;
}
.colorPickersComponent {
  align-content: center;
  text-align: center;
  width: 100%;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 50% 50%;
  grid-template-areas: "b1 b2" "a a";
}
.colorPickersComponent .colorPickers {
  grid-area: a;
}
.colorPickersComponent .button {
  width: 90%;
}
.colorPickersComponent .button-plus {
  grid-area: b1;
}
.colorPickersComponent .button-minus {
  grid-area: b2;
}
.colorPickerComponent {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 34px auto;
  height: 34px;
  margin: 2px auto;
}
.colorPickerComponent__label {
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  user-select: none;
  text-align: center;
  margin: 10px auto;
  padding: 4px 0 4px 0;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  color: #0e0e0e;
  width: 90%;
  background-color: #fdfdfd;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  cursor: pointer;
  height: 100%;
  vertical-align: top;
  margin: 0;
}
.colorPickerComponent__label:hover {
  background-color: #e4e4e4;
}
.colorPickerComponent__label:active {
  transition: 0.1s;
  transform: perspective(100px) rotateX(5deg);
  transform: translateY(1px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
}
.colorPickerComponent__label-minus {
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  user-select: none;
  text-align: center;
  margin: 10px auto;
  padding: 4px 0 4px 0;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  color: #0e0e0e;
  width: 90%;
  background-color: #962828;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  color: #fdfdfd;
}
.colorPickerComponent__label-minus:hover {
  background-color: #6e1d1d;
}
.colorPickerComponent__label-minus:active {
  transition: 0.1s;
  transform: perspective(100px) rotateX(5deg);
  transform: translateY(1px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
}
.colorPickerComponent__label-plus {
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  user-select: none;
  text-align: center;
  margin: 10px auto;
  padding: 4px 0 4px 0;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  color: #0e0e0e;
  width: 90%;
  background-color: #49a04c;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  color: #fdfdfd;
}
.colorPickerComponent__label-plus:hover {
  background-color: #397d3b;
}
.colorPickerComponent__label-plus:active {
  transition: 0.1s;
  transform: perspective(100px) rotateX(5deg);
  transform: translateY(1px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
}
.colorPickerComponent__label-blue {
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  user-select: none;
  text-align: center;
  margin: 10px auto;
  padding: 4px 0 4px 0;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  color: #0e0e0e;
  width: 90%;
  background-color: #417a8b;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  color: #fdfdfd;
}
.colorPickerComponent__label-blue:hover {
  background-color: #315b68;
}
.colorPickerComponent__label-blue:active {
  transition: 0.1s;
  transform: perspective(100px) rotateX(5deg);
  transform: translateY(1px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
}
.colorPickerComponent__button {
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  user-select: none;
  text-align: center;
  margin: 10px auto;
  padding: 4px 0 4px 0;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  width: 90%;
  background-color: #fdfdfd;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  margin: 0 auto;
  cursor: pointer;
  text-decoration: none;
  color: #0e0e0e;
  height: 100%;
}
.colorPickerComponent__button:hover {
  background-color: #e4e4e4;
}
.colorPickerComponent__button:active {
  transition: 0.1s;
  transform: perspective(100px) rotateX(5deg);
  transform: translateY(1px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
}
.colorPickerComponent__button:focus {
  outline: 0;
}
.colorPickerComponent__button:hover {
  transition: 300ms;
  background: #f0f0f0;
}
.colorPickerComponent__button:active {
  transition: 0s;
}
.codePreviewContainer {
  display: grid;
  grid-template-columns: 5% 45% 45% 5%;
  grid-template-rows: 85% 15%;
  grid-template-areas: "code code code code" ".... b1   b2   ....";
}
@media screen and (max-width: 1080px) {
  .codePreviewContainer {
    grid-template-columns: 5% 45% 45% 5%;
    grid-template-rows: 20% 80%;
    grid-template-areas: ".... b1   b2   ...." "code code code code";
  }
}
.codePreviewContainer .codePreview {
  display: inline-block;
  min-width: 100%;
  padding: 5px;
  color: #0e0e0e;
  border-radius: 3px;
  background-color: #fdfdfd;
  vertical-align: top;
  resize: none;
  font-family: 'Lucida Sans', monospace;
  grid-area: code;
}
.codePreviewContainer .button:nth-child(2) {
  grid-area: b1;
}
.codePreviewContainer .button:nth-child(3) {
  grid-area: b2;
}
.asset::before {
  content: attr(data-primaryAsset) " | " attr(data-secondaryAsset);
  position: absolute;
  padding: 6px;
  bottom: 0;
  left: 0;
  font-family: 'Comfortaa', cursive;
  font-size: 12pt;
  font-weight: normal;
  border-radius: 0 3px 0 0;
  color: #fdfdfd;
  background-color: #414141;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
  opacity: 0;
}
.asset:hover::before {
  bottom: 0;
  opacity: 1;
}
.codeAsset {
  display: inline-block;
  margin: 0 2pt;
}
body {
  margin: 0;
  background-color: #fdfdfd;
  font-family: 'Comfortaa', cursive;
}
* {
  box-sizing: border-box;
}
.button {
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  user-select: none;
  text-align: center;
  margin: 10px auto;
  padding: 4px 0 4px 0;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  color: #0e0e0e;
  width: 90%;
  background-color: #fdfdfd;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
}
.button:hover {
  background-color: #e4e4e4;
}
.button:active {
  transition: 0.1s;
  transform: perspective(100px) rotateX(5deg);
  transform: translateY(1px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
}
.button-minus {
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  user-select: none;
  text-align: center;
  margin: 10px auto;
  padding: 4px 0 4px 0;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  color: #0e0e0e;
  width: 90%;
  background-color: #962828;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  color: #fdfdfd;
}
.button-minus:hover {
  background-color: #6e1d1d;
}
.button-minus:active {
  transition: 0.1s;
  transform: perspective(100px) rotateX(5deg);
  transform: translateY(1px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
}
.button-plus {
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  user-select: none;
  text-align: center;
  margin: 10px auto;
  padding: 4px 0 4px 0;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  color: #0e0e0e;
  width: 90%;
  background-color: #49a04c;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  color: #fdfdfd;
}
.button-plus:hover {
  background-color: #397d3b;
}
.button-plus:active {
  transition: 0.1s;
  transform: perspective(100px) rotateX(5deg);
  transform: translateY(1px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
}
.button-blue {
  cursor: pointer;
  font-family: 'Comfortaa', cursive;
  font-weight: 600;
  user-select: none;
  text-align: center;
  margin: 10px auto;
  padding: 4px 0 4px 0;
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  overflow: hidden;
  color: #0e0e0e;
  width: 90%;
  background-color: #417a8b;
  text-transform: uppercase;
  transition: 0.4s ease-in-out;
  color: #fdfdfd;
}
.button-blue:hover {
  background-color: #315b68;
}
.button-blue:active {
  transition: 0.1s;
  transform: perspective(100px) rotateX(5deg);
  transform: translateY(1px);
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.6);
}
.icon {
  height: 20px;
  width: 20px;
  display: inline-block;
}
.icon-vscode {
  background-image: url("icons/vsCodeLogo.png");
  background-size: contain;
  background-repeat: no-repeat;
}
.contextMenu {
  margin-right: 30px;
  margin-left: auto;
  padding: 8px 16px;
  width: fit-content;
  font-size: 10pt;
  max-width: 300px;
  min-width: 100px;
}
.contextMenu hr {
  border-top: 1px solid;
  border-bottom: 0;
  border-left: 0;
  border-right: 0;
}
.contextMenu .contextMenuItem {
  margin: 2px 6px 2px 6px;
  width: 97%;
  clear: both;
  white-space: nowrap;
  display: inline-block;
}
.contextMenu .contextMenuItemHighlighted {
  margin: 2px 0 2px 0;
  width: 100%;
  clear: both;
  white-space: nowrap;
  display: inline-block;
}
.contextMenu .contextMenuItemSeparator {
  padding: 3px 0 3px 0;
  background: rgba(0, 0, 0, 0);
}
.App {
  box-sizing: border-box;
  height: 98vh;
  display: grid;
  grid-template-rows: 10% 1% 89% 10%;
  grid-template-columns: 19% 1% 70% 10%;
  grid-template-areas: "header  header  header header" ".       .       .      ." "menu   .       preview ." "footer footer  footer  footer";
}
@media screen and (max-width: 1080px) {
  .App {
    grid-template-rows: 30% 1% 69%;
    grid-template-columns: 15% 85%;
    grid-template-areas: "header menu menu" ".    .    ." "preview preview preview" "footer footer footer";
  }
}
.App .highlighted {
  background-attachment: fixed;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='50' height='50' viewBox='0 0 20 20'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23f2f2f2' points='20 10 10 0 0 0 20 20'/%3E%3Cpolygon fill='%23f2f2f2' points='0 10 0 20 10 20'/%3E%3C/g%3E%3C/svg%3E");
}
.App .header {
  background-color: #414141;
  padding: 12px 0 6px 16px;
  color: #fdfdfd;
  font-size: 30pt;
  grid-area: header;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
@media screen and (max-width: 1080px) {
  .App .header {
    font-size: 16pt;
  }
}
.App .header span {
  vertical-align: top;
}
.App .header img {
  width: 60px;
  margin: 0 10px 0 0;
}
.App .appSideBarWrapper {
  grid-area: menu;
}
.App .appSideBarWrapper .appSideBar {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  height: 100%;
  padding: 10px 20px;
  border-radius: 3px;
  display: grid;
  grid-template-rows: 10% 50% 40%;
  grid-template-columns: 100%;
  grid-template-areas: "themePicker" "colorPickers" "codePreview";
}
@media screen and (max-width: 1080px) {
  .App .appSideBarWrapper .appSideBar {
    grid-template-rows: 100%;
    grid-template-columns: 20% 40% 40%;
    grid-template-areas: "themePicker colorPickers codePreview";
  }
}
.App .appSideBarWrapper .appSideBar .themePicker {
  grid-area: themePicker;
  text-align-last: center;
  width: 100%;
}
.App .appSideBarWrapper .appSideBar .themePicker select {
  border-radius: 3px;
  font-family: 'Comfortaa', cursive;
  padding: 2px;
  text-align: center;
  font-size: 14pt;
  background-color: #fdfdfd;
  color: #0e0e0e;
  width: 100%;
  height: 4ch;
}
.App .appSideBarWrapper .appSideBar .colorPickersComponent {
  grid-area: colorPickers;
}
.App .appSideBarWrapper .appSideBar .codePreviewContainer {
  grid-area: codePreview;
}
.App .windowPreviewContainer {
  grid-area: preview;
  font-family: 'Helvetica';
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}
.App .windowPreviewContainer .windowPreview {
  background-color: #0e0e0e;
  display: grid;
  grid-template-columns: 3% 17% 70% 10%;
  grid-template-rows: 3% 4% 66% 24.5% 2.5%;
  height: 100%;
  border: 2px solid #0e0e0e;
  overflow: hidden;
}
.App .windowPreviewContainer .windowPreview .titleBar {
  color: #fdfdfd;
  font-size: 70%;
  padding-left: 10px;
  padding-top: 1%;
  display: inline-block;
  font-family: 'Helvetica';
  user-select: none;
  grid-column-start: 1;
  grid-column-end: 6;
  padding: 1px 5px;
}
.App .windowPreviewContainer .windowPreview .titleBar .titleBarText {
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: 2% 40% 44% 14%;
  margin: 3px 0 0 0;
  white-space: nowrap;
  overflow: hidden;
}
.App .windowPreviewContainer .windowPreview .titleBar .titleBarText .icon {
  height: 14px;
  width: 14px;
  margin-left: 5px;
}
.App .windowPreviewContainer .windowPreview .titleBar .titleBarText .windowButtons {
  text-align: right;
  right: 0px;
}
.App .windowPreviewContainer .windowPreview .tabs {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  display: grid;
  grid-template-columns: 15% 15% 15% 55%;
  grid-template-rows: 100%;
}
.App .windowPreviewContainer .windowPreview .tabs .tab {
  color: #fdfdfd;
  font-size: 70%;
  padding-left: 10px;
  padding-top: 1%;
  display: inline-block;
  font-family: 'Helvetica';
  user-select: none;
  text-align: center;
  padding-top: 4px;
  white-space: nowrap;
}
.App .windowPreviewContainer .windowPreview .activityBar {
  color: #fdfdfd;
  grid-row-start: 2;
  grid-row-end: 5;
  display: grid;
  grid-template-rows: 5% 5% 5% 5% 5% 70% 5%;
  grid-template-columns: 100%;
}
.App .windowPreviewContainer .windowPreview .activityBar .activityBarIcon {
  padding-top: 6px;
  user-select: none;
  text-align: center;
  font-size: 16pt;
  font-weight: 900;
  vertical-align: bottom;
}
.App .windowPreviewContainer .windowPreview .sideBarContainer {
  color: #fdfdfd;
  grid-row-start: 2;
  grid-row-end: 5;
  display: grid;
  grid-template-rows: 3.5% 3% 9% 3% 40% 3% 38.5%;
  grid-template-columns: 100%;
  white-space: nowrap;
  overflow: hidden;
}
.App .windowPreviewContainer .windowPreview .sideBarContainer .sideBarSectionHeader {
  color: #fdfdfd;
  font-size: 70%;
  padding-left: 10px;
  padding-top: 1%;
  display: inline-block;
  font-family: 'Helvetica';
  user-select: none;
  font-weight: 600;
}
.App .windowPreviewContainer .windowPreview .sideBarContainer .sideBar {
  padding: 4px 0 0 4px;
}
.App .windowPreviewContainer .windowPreview .sideBarContainer .sideBar .openEditorText {
  color: #fdfdfd;
  font-size: 70%;
  padding-left: 10px;
  padding-top: 1%;
  display: inline-block;
  font-family: 'Helvetica';
  user-select: none;
  color: unset;
  height: 33.33333333%;
  display: block;
}
.App .windowPreviewContainer .windowPreview .sideBarContainer .sideBar .fileEntryText {
  color: #fdfdfd;
  font-size: 70%;
  padding-left: 10px;
  padding-top: 1%;
  display: inline-block;
  font-family: 'Helvetica';
  user-select: none;
  color: unset;
  display: block;
}
.App .windowPreviewContainer .windowPreview .sideBarContainer .sideBar .filterBox {
  width: 94%;
  padding: 6px;
  margin: 6px auto;
  font-size: 75%;
}
.App .windowPreviewContainer .windowPreview .editor {
  color: #fdfdfd;
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 3;
  font-family: 'Lucida Sans', monospace;
  font-size: 10pt;
  padding: 10px;
}
.App .windowPreviewContainer .windowPreview .rightContainer {
  display: grid;
  border: 0 0 0 1px solid #414141;
  grid-column-start: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-template-rows: 35% 20% 45%;
  grid-template-columns: 90% 10%;
}
.App .windowPreviewContainer .windowPreview .rightContainer .scrollBar {
  grid-row-start: 2;
  grid-column-start: 2;
}
.App .windowPreviewContainer .windowPreview .rightContainer .miniMapSection {
  grid-row-start: 1;
  grid-row-end: 4;
  border-right: 1px solid rgba(14, 14, 14, 0.8);
}
.App .windowPreviewContainer .windowPreview .statusBar {
  grid-column-start: 1;
  grid-column-end: 6;
  color: #fdfdfd;
  font-size: 70%;
  padding-left: 10px;
  padding-top: 1%;
  display: inline-block;
  font-family: 'Helvetica';
  user-select: none;
  font-size: 60%;
  padding: 2px 0 0 10px;
}
.App .windowPreviewContainer .windowPreview .panel {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 4;
  grid-row-end: 4;
}
.App .windowPreviewContainer .windowPreview .panel .terminalText {
  display: grid;
  grid-template-columns: 10% 10% 10% 10% 40% 12% 8%;
  grid-template-rows: 18% 92%;
  grid-template-areas: "problems output debugConsole terminal . dropdown buttons" "console console console console console console console";
  font-size: 12pt;
  padding: 10px;
  font-size: 70%;
  white-space: nowrap;
  text-align: center;
}
.App .windowPreviewContainer .windowPreview .panel .terminalText .problems {
  grid-area: problems;
}
.App .windowPreviewContainer .windowPreview .panel .terminalText .problems .badge {
  width: fit-content;
  padding: 2px 6px 2px 6px;
  border-radius: 40%;
  display: inline-block;
  margin: 0 6px;
}
.App .windowPreviewContainer .windowPreview .panel .terminalText .output {
  grid-area: output;
}
.App .windowPreviewContainer .windowPreview .panel .terminalText .debugConsole {
  grid-area: debugConsole;
}
.App .windowPreviewContainer .windowPreview .panel .terminalText .terminal {
  grid-area: terminal;
}
.App .windowPreviewContainer .windowPreview .panel .terminalText .buttons {
  grid-area: buttons;
  text-align: right;
}
.App .windowPreviewContainer .windowPreview .panel .terminalText .console {
  text-align: left;
  grid-area: console;
  padding: 10px 0 0 8px;
}
.App .windowPreviewContainer .windowPreview .panel .terminalText .panelDropdown {
  text-align: left;
  grid-area: dropdown;
  width: 100%;
  margin-left: auto;
  margin-right: 0;
  padding: 2px 0px 2px 6px;
}
.App .windowPreviewContainer .windowPreview .panel .terminalText .panelButtons {
  text-align: right;
  grid-area: buttons;
  font-size: 10pt;
}
.App .footer {
  color: #b1b1b1;
  text-align: center;
  padding: 50px 0 0 0;
  grid-area: footer;
}
.App .footer ul {
  list-style-type: none;
  overflow: hidden;
  color: inherit;
}
.App .footer ul li {
  display: inline-block;
  padding-left: 20px;
  color: inherit;
}
.App .footer ul li a {
  display: inline-block;
  text-decoration: none;
  min-width: 80px;
  color: inherit;
}
.App .footer ul li a:visited {
  color: inherit;
}
.App .footer ul li a:hover {
  font-weight: 600;
  color: #646464;
}
